<section>
    <h3 id="activities">Other Activities</h3>

    <p>
    One of my main interests is teaching.
    I have participated in two <a href="http://misti.mit.edu/global-teaching-labs">Global Teaching Labs programs</a>: in Italy and in Armenia.
    Members of MIT Armenian Society, including myself, have played an active role in <a href="http://news.mit.edu/2015/misti-global-teaching-labs-launches-armenia-pilot-program-1123">initiating the program in 2015</a>.
    So far we have successfully, completed two GTL Armenia Programs.
    </p>

    <p>
    My brother and I work work on making short educational videos for school students that teach how to use computation in a variety of problems, such as modelling planet movement.
    See the <a href="https://cs4hs-am.github.io">website</a> (in Armenian).
    </p>

    <p>
    Prior to MIT, I have trained the Armenian national team for International Olympiad in Informatics and was the deputy leader of the team in IOI 2011 in Thailand.
    </p>

    <p>
    I am also a passionate hiker (or hayker), and love wandering in <a href="/assets/img/geghama.jpg">Armenian mountains</a>.
    My other hobbies include playing the flute and playing racket sports.
    </p>

</section>
