<section>
    <h3 id="education">Education</h3>

    <a href="https://stellar.mit.edu/S/course/6/sp14/6.816/">6.836 - Multicore Programming</a>
    </br>
    <a href="http://student.mit.edu/catalog/search.cgi?search=6.852&style=verbatim">6.852 - Distributed Algorithms</a>
    </br>
    <a href="https://pdos.csail.mit.edu/6.824/">6.824 - Distributed Systems</a>
    </br>
    <a href="http://courses.csail.mit.edu/6.854/16/">6.854 - Advanced Algorithms</a>

    <p>
    I also took Graph Theory, Set Theory and Logic, Coding and Cryptography, Number Theory, Mathematical Biology
    during the <a href="https://gecd.mit.edu/go-abroad/study-abroad/mit-study-abroad-programs/cambridge-mit-exchange-cme">Cambridge-MIT exchange</a> program in my 3rd year at MIT.
    </p>
</section>

