<section>
    <h3 id="education">Education</h3>

    <p>
    I have taken the following advanced or graduate level courses at MIT:</br>
    6.836 - Multicore Programming </br>
    6.851 - Distributed Algorithms </br>
    6.824 - Distributed Systems </br>
    6.864 - Advanced Natural Language Processing </br>
    6.035 - Computer Language Engineering
    </p>
    <p>
    In my 3rd undergraduate year I did the wonderful <a href="https://gecd.mit.edu/go-abroad/study-abroad/mit-study-abroad-programs/cambridge-mit-exchange-cme">Cambridge-MIT exchange</a> program, and studied Part II Mathemtaics there. I took</br>
    Graph Theory</br>
    Set Theory and Logic</br>
    Coding and Cryptography</br>
    Number Theory</br>
    Mathematical Biology</br>
    </p>
</section>
