<section>
    <h3 id="research">Research Projects</h3>

    <p>
    Currently, I work on concurrent data structures that can be used to store and efficiently query large amounts of connectivity data harvested from mouse cortex.
    </p>

    <p>
    I have worked in <a href="http://ccg.csail.mit.edu">Computational Connectomics Group</a> on developing a high-throughput connectomics pipeline.
    My project was called Big Data Agglomeration for Connectomics (see <a href="/assets/files/big-data-agg-poster.pdf">poster</a>),
    for which I received the <a href="http://web.mit.edu/urop/options/awards.html#pogosyants">Anna Poghosyats UROP Award</a>.
    My research was supported by Landsman Undergraduate Research and Innovation Fund.
    </p>

    {% bibliography %}
</section>
